.Menu{
  display: flex;
  flex-basis: 350px;
  background-color: #2F3644;
  
}
.Menu nav{
  flex: 1;
  
}
.Menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  
}
.Menu li{
  display: flex;
  flex-direction: row;
}
.Menu li a {
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: #D2DAF5;
  font-size: large;
}
.Menu li a:hover {
  color: #3DECB1;
}